@model DDLModel
<span class="input-group-addon"><span class="glyphicon @Model.GlyphIcon"></span></span>
<select id="@Model.PropertyToBind" name="@Model.PropertyToBind" class="form-control" asp-items="@Model.Items"></select>



