
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

<div style="padding:15px;background-color:yellowgreen;color:white" >
    This line of text is written in partialview1.cshtml file
</div>