@model SchemeModel

<form asp-controller="schemes" asp-action="Delete" method="post">
    @*<div class="form-group">
        <div class="input-group">
            <span class="input-group-addon"><span class="glyphicon glyphicon-edit"></span> </span>
            <input asp-for="Name" type="text" class="form-control" />
        </div>
    </div>*@
    <div class="form-group">
        @*<div class="input-group">
            <span class="input-group-addon"><span class="glyphicon glyphicon-map-marker"></span> </span>
            <select class="form-control" asp-for="City.Id" asp-items="@ViewBag.Cities"></select>
        </div>*@

        <label style="color:red">
            <img src="~/images/warning.png" style="width:100px; height:100px; " /> Do you Realy Want To Delete this Record?
        </label>
    </div>
    <div class="form-group">
        <button class="btn btn-primary" type="submit"><span class="glyphicon glyphicon-trash"></span>&nbsp; Delete</button>
    </div>
</form>