@model UserModel

    <form asp-controller="User" asp-action="Update" method="post">
        @*<div class="form-group">
            <div class="input-group">
                <span class="input-group-addon"><span class="glyphicon glyphicon-edit"></span> </span>
                <input asp-for="Name" type="text" class="form-control" />
            </div>
        </div>*@

        <div class="form-group">
            <div class="input-group">
                <span class="input-group-addon"><span class="glyphicon glyphicon-edit"></span> </span>
                <input asp-for="Name" type="text" class="form-control"/>
            </div>
        </div>
        <div class="form-group">
            <div class="input-group">
                <span class="input-group-addon"><span class="glyphicon glyphicon-edit"></span> </span>
                <input asp-for="LoginId" class="form-control" />
            </div>
        </div>
        <div class="form-group">
            <div class="input-group">
                <span class="input-group-addon"><span class="glyphicon glyphicon-edit"></span> </span>
                <input asp-for="Password" type="password" class="form-control"  />
            </div>
        </div>
        <div class="form-group">
            <div class="input-group">
                <span class="input-group-addon"><span class="glyphicon glyphicon-edit"></span> </span>
                <input asp-for="ContactNumber" class="form-control" />
            </div>
        </div>
        <div class="form-group">
            <div class="input-group">
                <span class="input-group-addon"><span class="glyphicon glyphicon-edit"></span> </span>
                <input asp-for="Email" type="email" class="form-control" />
            </div>
        </div>
        <div class="form-group">
            <div class="input-group">
                <span class="input-group-addon"><span class="glyphicon glyphicon-edit"></span> </span>
                <input asp-for="ImageUrl" class="form-control" />
            </div>
        </div>
        <div class="form-group">
            <div class="input-group">
                <span class="input-group-addon"><span class="glyphicon glyphicon-edit"></span> </span>
                <input asp-for="BirthDate" type="date" class="form-control"  />
            </div>
        </div>


        <div class="form-group">
            <div class="input-group">
                <span class="input-group-addon"><span class="glyphicon glyphicon-map-marker"></span> </span>
                <select class="form-control" asp-for="Address.City.Province.Country.Id" asp-items="@ViewBag.Country"></select>
            </div>
        </div>

        <div class="form-group">
            <div class="input-group">
                <span class="input-group-addon"><span class="glyphicon glyphicon-map-marker"></span> </span>
                <select class="form-control" asp-for="Address.City.Province.Id" asp-items="@ViewBag.Province"></select>
            </div>
        </div>
        <div class="form-group">
            <div class="input-group">
                <span class="input-group-addon"><span class="glyphicon glyphicon-map-marker"></span> </span>
                <select class="form-control" asp-for="Address.City.Id" asp-items="@ViewBag.City"></select>
            </div>
        </div>

        <div class="form-group">
            <div class="input-group">
                <span class="input-group-addon"><span class="glyphicon glyphicon-edit"></span> </span>
                <input asp-for="Address.StreetAddress" type="text" class="form-control" />
            </div>
        </div>

        <div class="form-group">
            <div class="input-group">
                <span class="input-group-addon"><span class="glyphicon glyphicon-edit"></span> </span>
                <input asp-for="SecurityQuestion" type="text" class="form-control"  />
            </div>
        </div>

        <div class="form-group">
            <div class="input-group">
                <span class="input-group-addon"><span class="glyphicon glyphicon-edit"></span> </span>
                <input asp-for="SecurityAnswer" type="text" class="form-control"  />
            </div>
        </div>

        <div class="form-group">
            <div class="input-group">
                <span class="input-group-addon"><span class="glyphicon glyphicon-map-marker"></span> </span>
                <select class="form-control" asp-for="Role.Id" asp-items="@ViewBag.Role"></select>
            </div>
        </div>

        <div class="form-group">
            <button class="btn btn-primary" type="submit"><span class="glyphicon glyphicon-floppy-save"></span>&nbsp; Update</button>
        </div>
    </form>