@model IEnumerable<PropertyTypesModel>

@{
    ViewData["Title"] = "Manage Property Type";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div id="createdialog" class="modal fade" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div id="createdialog-header" class="modal-header bg-primary">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="createdialog-title"></h4>
            </div>
            <div id="createdialog-body" class="modal-body">
            </div>
        </div>
    </div>
</div>


<table class="table table-bordered">
    <thead class="bg-primary">
        <tr>
            <th colspan="3">@ViewData["Title"] [ <a id="createlink" asp-controller="PropertyType" asp-action="create">Add New</a> ]</th>
        </tr>
        <tr>
            <th class="col-lg-5">Name</th>

            <th class="col-lg-4">Actions</th>
        </tr>
    </thead>
    <tbody id="tblcontactsbody">
        @foreach (var m in Model)
        {
            <tr class="dg-datarow" data-propertytypeid="@m.Id">
                <td class="col-lg-5">@m.Name</td>

                <td class="col-lg-4">
                    <button class="btn btn-warning btn-sm dgbtn-edit"><span class="glyphicon glyphicon-edit"></span></button> &nbsp;
                    <button class="btn btn-danger btn-sm dgbtn-delete"><span class="glyphicon glyphicon-trash"></span></button>
                </td>
            </tr>
        }
    </tbody>
</table>

@section Scripts{
    <script type="text/javascript">
        $("#createlink").click(function (event) {
            event.preventDefault();
            $.ajax(
                {
                    url: "/propertytypes/create"
                }
            ).done(function (createform) {
                $("#createdialog-body").html(createform);
                $("#createdialog-title").html("Add New Property Type");
                $("#createdialog").modal();
            });

        });


        $(".dgbtn-edit").click(function () {
            var PId = $(this).parents(".dg-datarow").data("propertytypeid");
            $.ajax(
                {
                    url: "/propertytypes/update/"+PId
                }
            ).done(function (createform) {
                $("#createdialog-body").html(createform);
                $("#createdialog-title").html("Update Property Type");
                $("#createdialog").modal();
            });

        });

        $(".dgbtn-delete").click(function () {
            var Pid = $(this).parents(".dg-datarow").data("propertytypeid");
            $.ajax(
                {
                    url: "/propertytypes/delete/" + Pid

                }
            ).done(function (createform) {
                $("#createdialog-body").html(createform);
                $("#createdialog-title").html("Delete Property Type");
                //$("#createdialog-header").removeClass("bg-primary");
                //$("#createdialog-header").addClass("bg-danger");
                $("#createdialog").modal();
            });
        });
    </script>
}





